.board {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      position: relative;
      height: 3em;
      width: 3em;
      &.icon::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.darkness {
        background: #0b2e13;
        &.can_do_action {
          background: #bf1212;
        }
        &.trap::before {
          background: url("/images/carillon.svg");
        }
        &.trap-ringing::before {
          background: url("/images/ringing-bell.svg");
        }
        &.bait::before {
          background: url("/images/meat.svg");
        }
        &.attack.south::before {
          background: url("/images/knife-thrust-down.svg");
        }
        &.attack.west::before {
          background: url("/images/knife-thrust-left.svg");
        }
        &.attack.east::before {
          background: url("/images/knife-thrust-right.svg");
        }
        &.attack.north::before {
          background: url("/images/knife-thrust-up.svg");
        }
        &.bolt.south::before {
          background: url("/images/branch-arrow-down.svg");
        }
        &.bolt.west::before {
          background: url("/images/branch-arrow-left.svg");
        }
        &.bolt.east::before {
          background: url("/images/branch-arrow-right.svg");
        }
        &.bolt.north::before {
          background: url("/images/branch-arrow-up.svg");
        }
        &.fire-bolt.south::before {
          background: url("/images/spiral-arrow-down.svg");
        }
        &.fire-bolt.west::before {
          background: url("/images/spiral-arrow-left.svg");
        }
        &.fire-bolt.east::before {
          background: url("/images/spiral-arrow-right.svg");
        }
        &.fire-bolt.north::before {
          background: url("/images/spiral-arrow-up.svg");
        }
        &.fire::before {
          background: url("/images/flame.svg");
        }
        &.monster-track::before {
          background: url("/images/flat-paw-print.svg");
        }
      }
      &.camp {
        background: url("/images/campfire.svg");
      }
      &.can_move {
        background: #27dc47;
      }
      &.monster {
        background: url("/images/werewolf.svg");
      }
      &.hunter {
        background: url("/images/hooded-assassin.svg");
        &.attack.south::before {
          background: url("/images/shadow-grasp-down.svg");
        }
        &.attack.west::before {
          background: url("/images/shadow-grasp-left.svg");
        }
        &.attack.east::before {
          background: url("/images/shadow-grasp-right.svg");
        }
        &.attack.north::before {
          background: url("/images/shadow-grasp-up.svg");
        }
      }
    }
  }
}

.player {
  i.role {
    width: 1em;
    height: 1em;
    display: inline-block;
  }
  &.monster {
    color: #9b9b9b;
    i.role {
      background: url("/images/werewolf.svg");
    }
  }
  &.hunter {
    color: #3a5b13;
    i.role {
      background: url("/images/hooded-assassin.svg");
    }
  }
}

.role img {
  width: 1em;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}